/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
$fancy-bld: 'NHaasGroteskTXStd-75Bd';

a, a:active, a:visited {
	color: #a0a0a0;
	text-decoration: none;
}

a:hover {
	color: #000 !important;
}

body {
	
	
	#container {
		
		@include container();
		//@include susy-grid-background;
		
		margin-top: 10px;
		margin-bottom: 10px;
		
		header {
			
			position: relative;
			padding-bottom: 10px;
			border-bottom: 7px solid #000;
			
			a {
				margin: 0;
				padding: 0;
				
				img {
					float: left;
				}
			}
			
			nav {
				
				float: right;
				position: absolute;
				right: 0;
				bottom: 10px;
				
				ul {
					
					margin: 0;
					
					li, span {
						float: left;
						margin-left: 4px;
						font-size: 11px;
						font-family: $fancy-bld;
						line-height: 9px;
						text-transform: uppercase;
						letter-spacing: 1px;
						word-spacing: 1px;
						
						span {
							float: none;
							color: #a0a0a0;
						}
					}
					
					li {
						&:last-child {
							span {
								display: none;
							}
				        }
					}
					
					li.current-menu-item {
						a {
							color: #000;
						}
					}
				}
				
			}
		}
		
		$hero-margin: 30px;
		
		.project-details {
			margin-top: $hero-margin;
			
			img {
				margin-bottom: $hero-margin;
			}

			#menu_details {
				float: left;
				@include span-columns(1);
				padding-top: 130px;
				
				h1 {
					font-family: $fancy-bld;
					font-size: 16px;
					font-weight: bold;
					line-height: 19px;
					padding-bottom: 5.9px;
					padding-top: 0px;
					margin: 0px;
					color: #000;
					border-bottom: 1px solid #000;
				}
				
				div {
					font-family: $fancy-bld;
					margin-top: 3px;
					letter-spacing: 1px;
					font-size: 13px;
					padding: 4.8px 0;
					border-bottom: 1px solid #000;
				}
				
				.arrow-right {
					margin-top: 1px;
					display: block;
					float: right;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid black;
				}

				.arrow-left {
					margin-top: .65px;
					display: block;
					float: right;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-right: 5px solid black;
				}
				
			}
		
			#heros {
				float: right;
				@include span-columns(4 omega);
			}
		}
	}
	
}