/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
a, a:active, a:visited {
	color: #a0a0a0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

body {
	
	
	#container {
		
		@include container;
		//@include susy-grid-background;
		
		margin-top: 10px;
		margin-bottom: 10px;
		
		header {
			
			position: relative;
			margin-bottom: 10px;
			
			a {
				margin: 0;
				padding: 0;
				
				img {
					float: left;
				}
			}
			
			nav {
				
				float: right;
				position: absolute;
				right: 0;
				bottom: 0;
				
				ul {
					
					margin: 0;
					
					li {
						float: left;
						margin-left: 4px;
						font-size: 11px;
						font-family: 'NHaasGroteskTXStd-75Bd';
						line-height: 9px;
						text-transform: uppercase;
						letter-spacing: 1px;
						word-spacing: 1px;
					}
				}
				
			}
		}
		
		.foo {
			@include span-columns(1);
			background-color: green;
			height: 20px
		}
		
		
		.big {
			@include span-columns(4);
			background-color: blue;
			opacity: 0.2;
			height: 50px;
		}
		
		.tiny {
			@include span-columns(1, 4);
			background-color: red;
			height: 50px;
			color: black;
		}
	}
	
}