/***** Custom styling *****/
.cdgd-selected-thumbnail {
	display: none;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

#wpa_loop-heros .wpa_group {
	border: 1px dotted #ccc;
	padding: 5px;
	overflow: auto;
}

.wpa_loop-heros {
	
	p {
		margin: 0 10px 10px 0;
		float: left;				
	}			
}

.fields-block {
	width: 90%; 
	float: left;
} 

.thumbnail-block {
	width: 10%; 
	float: right
}

p.toolbar {
	clear: both;
	
	input[type="submit"] {
		margin-left: 10px;
	}	
}

$hu-padding: 5px;

#save-warning {
	display: none;
	color: #9F6000;
	background-color: #FEEFB3;
	font-weight: bold;
	border: 1px solid;
	padding: $hu-padding;
}

.help {
	padding: $hu-padding;
	background-color: white;
	color: #bbb;
	border: 1px solid #ccc;
	font-style: normal !important;
}
