/***** Custom styling *****/
.cdgd-selected-thumbnail {
	display: none;
	padding: 5px;
	border: 1px solid #ccc;
}

#wpa_loop-heros, #wpa_loop-slides {

	.wpa_group {
		border: 1px dotted #ccc;
		padding: 5px;
		overflow: auto;
		margin-bottom: 20px;
	}

}

.wpa_loop-heros, .wpa_loop-slides {
	
	p {
		margin: 0 10px 10px 0;
		float: left;
	}
	
}

p.image-label {
	clear: both;
	font-weight: bold;
	font-size: 16px;
	margin: 1em 0;
}

.fields-block {
	width: 90%; 
	float: left;
} 

.thumbnail-block {
	float: right
}

p.toolbar {
	clear: both;
	
	input[type="submit"] {
		margin-left: 10px;
	}	
}

$hu-padding: 5px;

.save-warning {
	display: none;
	color: #9F6000;
	background-color: #FEEFB3;
	font-weight: bold;
	border: 1px solid;
	padding: $hu-padding;
}

.help {
	padding: $hu-padding;
	background-color: white;
	color: #999;
	border: 1px solid #ccc;
	font-style: normal !important;
}

.cdgd-tout-mb {

	#faux-desc {
		width: 178px;
		border: 1px solid #999;
		margin: 0 auto;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 16px;	
		color: #a0a0a0;
		display: none;
		font-family: 'NHaasGroteskTXStd-55Rg';
	}

}

.single-media {
	overflow: auto; 
	border: 1px dotted #ccc; 
	padding: 5px;
	
	.fields-block {
		a {
			margin-bottom: 10px;
		}
	}
	
}

.column-touted {
	strong {
		margin-left: 10px;
	}
}
